<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Employee Management System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- Font Awesoome Icons-->
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">

<style>
i {
	margin-right: 5px;
}
</style>
<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</head>

<body>
	<div class="container my-2">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Employee Management</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active"><a class="nav-link" href="#">About</a>
					</li>
				</ul>
				<span class="navbar-text"> <a href="#loginModal"
					data-toggle="modal"><i class="fa fa-sign-in"></i>Login</a>
				</span>
			</div>
		</nav>

		<!-- Default form login -->
		<div class="card shadow-lg">
			<div class="card-body">
				<form class="text-center border border-light p-5 needs-validation"
					action="/employees" novalidate>

					<p class="h4 mb-4">Log in</p>

					<div class="form-group">
						<input type="email" class="form-control mb-4 w-50 mx-auto"
							id="email" placeholder="Email" name="email" required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">
						<div class="valid-feedback"></div> 
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
					<div class="form-group">
						<input type="password" class="form-control mb-4 w-50 mx-auto"
							id="pwd" placeholder="Password" name="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>



					<!-- Sign in button -->
					<button class="btn btn-primary my-4" type="submit">Sign in</button>

					<!-- Register -->
					<p>
						Don't have an account? <a href="">Register</a>
					</p>

				</form>
			</div>
		</div>
		<!-- Default form login -->
	</div>

</body>
</html>