<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Register Employee</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<script>
	// Disable form submissions if there are invalid fields
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Get the forms we want to add validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();
</script>
</head>

<body>
	<div class="container my-2">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Employee Management</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/">About</a></li>
				</ul>
				<span class="navbar-text" th:text="${loggedInAs}"></span>
				<!-- <span class="navbar-text"><a href="/logout" data-toggle="modal"><i class="fas fa-sign-out-alt"></i>Logout</a></span> -->
			</div>
		</nav>
		<div class="container my-5">
			<h3>Register User</h3>
			<div class="card">
				<div class="card-body">

					<form class="needs-validation" th:action="@{/register}"
						th:object="${user}" method="post" novalidate>
						<div th:if="${registrationSuccess}"
							class="alert alert-success mb-4 w-50 " role="alert">User
							Registration Successful</div>
						<div th:if="${usernameError}"
							class="alert alert-danger mb-4 w-50 " role="alert">User registration unsuccessful. Username already exists</div>
						<div th:if="${passwordMatchError}"
							class="alert alert-danger mb-4 w-50 " role="alert">User registration unsuccessful. Passwords do not match</div>

						<div class="row">
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">Enter First
									Name</label> <input type="text" name="first_name" class="form-control"
									id="first_name" placeholder="First Name" required
									pattern="[a-zA-Z]{2,20}" />
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">Please enter first name.</div>
							</div>
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">Enter Last Name</label>
								<input type="text" name="last_name" class="form-control"
									id="last_name" placeholder="Last Name" required />
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">Please enter last name.</div>
							</div>
							<div class="form-group col-md-8">
								<label for="username" class="col-form-label">Enter
									Username</label> <input type="text" name="username"
									class="form-control" id="username" placeholder="Username"
									required pattern="[a-zA-Z]{2,20}" />
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">Please enter a username.</div>

							</div>
							<div class="form-group col-md-8">
								<label for="password" class="col-form-label">EnterPassword</label>
								<input type="password" name="password" class="form-control"
									id="password" placeholder="Password" required
									pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,12}$" />
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">Password should contain at
									least 1 number and 8-12 characters long.</div>
							</div>
							<div class="form-group col-md-8">
								<label for="password" class="col-form-label">Confirm
									Password</label> <input type="password" name="passwordConfirm"
									class="form-control" id="passwordConfirm"
									placeholder="Confirm Password" required
									pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,12}$" />
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">Password should contain at
									least 1 number and 8-12 characters long.</div>
							</div>
							<div class="col-md-8">
								<input type="submit" class="btn btn-primary" value=" Register ">
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
